<!DOCTYPE html>
<html>
<head>
  <title>Qvalent Pty Ltd</title>
  <link rel="icon" type="image/png" href="assets/images/favicon.png">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="assets/css/style.css"/>
</head>
<body>
  <div id="app">
    <div class="menu-bar">
      <a href="javascript:void(0)" class="nounderline" @click="switchState('maintenance')">Home</a>
      <a href="javascript:void(0)" class="nounderline" @click="switchState('privacy')">Privacy</a>
      <a href="javascript:void(0)" class="nounderline" @click="switchState('contact')">Contact</a>
    </div>
    <div class="logo-bar">
      <div class="header-logo" @click="switchState('maintenance')">
        <img src="assets/images/qvalent-logo.svg"/>
      </div>
      <a href="javascript:void(0)" class="nounderline" @click="switchState('maintenance')">Maintenance</a>
      <a href="javascript:void(0)" class="nounderline" @click="switchState('monitoring')">Monitoring</a>
      <a href="javascript:void(0)" class="nounderline" @click="switchState('products')">Products</a>
      <a href="javascript:void(0)" class="nounderline" @click="switchState('about')">About</a>
    </div>
    <div id="contentContainer">
      <div id="content">
        <div id="welcome"     class="content-box" v-if="state.maintenance"><h2>Welcome to Qvalent</h2><span v-html="content.welcome"></span><hr><h2>System Maintenance</h2><span v-html="content.maintenance"></span></div>
        <div id="about"       class="content-box" v-if="state.about">      <h2>About Qvalent</h2><span v-html="content.about"></span><hr><span v-html="content.blurbs"></span></div>
        <div id="products"    class="content-box" v-if="state.products">   <h2>Our Products</h2><span v-html="content.products"></span></div>
        <div id="support"     class="contact-box" v-if="state.contact">    <h2>Qvalent Support</h2><span v-html="content.support" class="support-box"></span><hr><span v-html="content.contact"></span></div>
        <div id="privacy"     class="content-box" v-if="state.privacy">    <h2>Qvalent Privacy Policy</h2><span v-html="content.privacy"></span></div>
        <div id="monitoring"  class="contact-box" v-if="state.monitoring"> <h2>Monitoring</h2><span v-html="content.monitoring"></span><br/><br/><div id="tester" style="width:100%;height:250px;"></div></div>
      </div>
    </div>
  </div>
  <script src="assets/js/jquery-3.2.1.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/tether.min.js"></script>
  <script src="assets/js/plotly.js"></script>
  <script src="assets/js/vue.js"></script>
  <script src="assets/js/app.js"></script>
</body><!--Andrew Dabson-->
</html>