RewriteEngine on

# Force SSL
RewriteCond %{HTTP_HOST} !^158\.140\.212\.236$
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L,NE]

# Force www (unless ip url of 158\.140\.212\.236, 192\.168\.1.* or wetbox/*)
RewriteCond %{HTTP_HOST} !^158\.140\.212\.236$
RewriteCond %{HTTP_HOST} !^192\.168\.1.*$
RewriteCond %{HTTP_HOST} !^wetbox$
RewriteCond %{HTTP_HOST} !^$
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTPS}s ^on(s)|
RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Error page routing
ErrorDocument 403 	/error.php
ErrorDocument 404   /error.php
ErrorDocument 405   /error.php
ErrorDocument 408   /error.php
ErrorDocument 500   /error.php
ErrorDocument 502   /error.php
ErrorDocument 504   /error.php

# Disable directory browsing: only applies to root dir
Options -Indexes

# Half solution: hides files, but still shows directory browse page :/
IndexIgnore *

# This is the 2.4 version of apache, equivilent to apache 2.2 order Deny, Allow \n Deny from all
<Files ".config/*">
Require all denied
</Files>

#deny .git
<Files ".git/*">
Require all denied
</Files>

# <Directory "^\.git">
# Order deny,allow
# Deny from all
# </Directory>

# <Directory "^\.config">
# Order deny,allow
# Deny from all
# </Directory>